#contact {
  text-align: center;
}

h1 {
  line-height: 25px;
  font-size: 25px;
  padding: 2px;
}

h2 {
  line-height: 20px;
  font-size: 20px;
  padding: 2px;
  
}

h3 {
  line-height: 15px;
  font-size: 15px;
  padding: 2px;
}
